<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
<header>
    <div class="container text-center" style="margin-top: 10px">
        <div class="row">
            <div class="col">
                ✔Огромный выбор
            </div>
            <div class="col">
                ✔Быстрая доставка
            </div>
            <div class="col">
                ✔Опыт работы с 2022 года
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light" style="margin-top: 20px">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h1><b>ComputerWorld</b></h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/product">Вернутся к списку товаров</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAnonymous()')}">
                        <a class="nav-link disabled">Пожалуйста, войдите или зарегистрируйтесь:</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                        <a class="nav-link disabled">Вы вошли в роли пользователя</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAnonymous()')}">
                        <a class="nav-link active" aria-current="page" href="/authentication/login">Вход</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAnonymous()')}">
                        <a class="nav-link" href="/authentication/registration">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <form th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" method="post" th:action="@{/logout}">
                            <button type="submit" class="btn btn-primary">Выйти</button>
                        </form>
                    </li>
                </ul>
                <form th:if="${#authorization.expression('isAuthenticated()')}" method="get" th:action="@{/orders}" style="margin-left: 20px">
                    <button type="submit" class="btn btn-primary">История заказов</button>
                </form>
                <form th:if="${#authorization.expression('isAuthenticated()')}" method="get" th:action="@{/cart}" style="margin-left: 20px">
                    <button type="submit" class="btn btn-primary">Корзина</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<nav style="--bs-breadcrumb-divider: '>'; margin-top: 20px; margin-bottom: 20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/product">Список товаров</a></li>
        <li class="breadcrumb-item active" aria-current="page">Подробнее о товаре</li>
    </ol>
</nav>
<div class="container text-left" style="margin-top: 20px">
    <div class="row">
        <div class="col">
            <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" height="400px" class="d-block w-100" alt="file_one">
                    </div>
                    <div class="carousel-item">
                        <img th:src="'/img/' + ${product.imageList[1].getFileName()}" height="400px" class="d-block w-100" alt="file_two">
                    </div>
                    <div class="carousel-item">
                        <img th:src="'/img/' + ${product.imageList[2].getFileName()}" height="400px" class="d-block w-100" alt="file_three">
                    </div>
                    <div class="carousel-item">
                        <img th:src="'/img/' + ${product.imageList[3].getFileName()}" height="400px" class="d-block w-100" alt="file_four">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="col">
            <p th:text="'Наименование:  ' + ${product.getTitle()}"></p>
            <p th:text="'Описание:      ' + ${product.getDescription()}"></p>
            <p th:text="'Цена:          ' + ${product.getPrice()}"></p>
            <p th:text="'Склад:         ' + ${product.getWarehouse()}"></p>
            <p th:text="'Продавец:      ' + ${product.getSeller()}"></p>
            <p th:text="'Категория:     ' + ${product.getCategory().getName()}"></p>
            <a class="btn btn-primary" th:href="@{/cart/add/{id}(id=${product.getId()})}" th:if="${#authorization.expression('isAuthenticated()')}">Добавить в корзину</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>