<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
<header>
    <div class="container text-center" style="margin-top: 10px">
        <div class="row">
            <div class="col">
                ✔Огромный выбор
            </div>
            <div class="col">
                ✔Быстрая доставка
            </div>
            <div class="col">
                ✔Опыт работы с 2022 года
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light" style="margin-top: 20px">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h1><b>ComputerWorld</b></h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled">Вы вошли в роли пользователя</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" th:action="@{/logout}">
                            <button type="submit" class="btn btn-primary">Выйти</button>
                        </form>
                    </li>
                </ul>
                <form method="get" th:action="@{/orders}" style="margin-left: 20px">
                    <button type="submit" class="btn btn-primary">История заказов</button>
                </form>
                <form method="get" th:action="@{/cart}" style="margin-left: 20px">
                    <button type="submit" class="btn btn-primary">Корзина</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<nav style="--bs-breadcrumb-divider: '>'; margin-top: 20px; margin-bottom: 20px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/index">Главная</a></li>
    </ol>
</nav>
<div class="dropdown" style="margin: 20px 1px 20px">
    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        Параметры сортировки
    </button>
    <form class="dropdown-menu p-4" th:method="POST" th:action="@{/product/search}">
        <div class="mb-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Поиск</span>
                <input type="text" class="form-control" placeholder="Введите наименование товара" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="search" id="search">
            </div>
        </div>
        <div class="mb-3">
            <p>Цена, ₽</p>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="ot1">От</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="ot" id="ot">
                <span class="input-group-text" id="do1">До</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="do" id="do">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="ascending_price">Отсортировать по возрастанию цены</label>
            <input class="form-check-input mt-0" type="checkbox" id="ascending_price" name="price" value="sorted_by_ascending_price">
            <br>
            <label class="form-check-label" for="descending_price">Отсортировать по убыванию цены</label>
            <input class="form-check-input mt-0" type="checkbox" id="descending_price" name="price" value="sorted_by_descending_price">
        </div>
        <div class="mb-3">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Категория</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Выберите...</option>
                    <option value="pc_mono" id="pc_mono" name="contact">Компьютеры и моноблоки</option>
                    <option value="notebooks" id="notebooks" name="contact">Ноутбуки</option>
                    <option value="smartfone" id="smartfone" name="contact">Смартфоны</option>
                    <option value="planshet" id="planshet" name="contact">Планшеты</option>
                    <option value="complect" id="complect" name="contact">Комплектующие</option>
                    <option value="acsessuar" id="acsessuar" name="contact">Аксессуары и устройства ввода/вывода</option>
                </select>
            </div>

        </div>
        <input type="submit" class="btn btn-light" style="margin-left: 40%" value="Показать">
    </form>
</div>

<div class="container text-left" style="margin-top: 20px">Все товары:
    <div class="row justify-content-md-center">
        <div class="col-4" style="margin: 20px 20px 20px 20px; height: 340px; width: 320px; border: 2px darkgrey; border-radius: 10px" th:each="product : ${products}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="250px">
            <br>
            <h6>
                <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" class="text-decoration-none"></a>
            </h6>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            <a class="btn btn-primary" style="margin-bottom: 20px" th:href="@{/cart/add/{id}(id=${product.getId()})}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Добавить в корзину</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>